:root {
	--accent: #c7ecee;
	--accentComplimentary: #7ed6df;
}

* {
	box-sizing: border-box;
}

body {
	font: 400 100%/1 'Nunito', serif;
	background-color: #040303;
	color: #2f3640;
}

header{
	background-color: #000;
  }
  
  .navbar-nav .nav-item:hover .nav-link {
	color: rgb(45, 237, 11) !important;
  }
  
  .navbar-nav .nav-link {
	font-family: 'Red Hat Mono', monospace;
	font-size: large;
	color: white;
  }
  a[href^="http"] {
	background: url("arrow.png") no-repeat 100% ;
	background-size: 16px 16px;
	padding-right: 23px;
	text-decoration: none;
	color: #2f3640;
  }
  a[href^="http"]:hover,
  a[href^="http"]:focus {
	text-decoration: underline;
	color: #3330E4;
  }

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
	gap: 35px; /* Replaced with the value of $spacer-m */
	padding: 150px 35px 20px 35px;
	justify-content: center;
}

.grid__item {
	/* No specific styles for grid items provided */
}

.card {
	border-radius: 35px; /* Replaced with the value of $spacer-m */
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 500px;
}

.card__top {
	position: relative;
	background-color: var(--accentComplimentary);
	padding: 35px 35px 70px 35px; /* Replaced with the values of $spacer-m and 2*$spacer-m */
	z-index: 0;
	display: flex;
	align-items: flex-start;

	&:has(.card__figure) {
		aspect-ratio: 3/2;
	}
}

.card__bottom {
	position: relative;
	margin-top: -35px; /* Replaced with the value of $spacer-m */
	background-color: var(--accent);
	padding: 35px;
	border-radius: 35px; /* Replaced with the value of $spacer-m */
	display: flex;
	gap: 60px; /* Replaced with the value of $spacer-l */
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	z-index: 1;
}

.card__figure {
	position: absolute;
	inset: 0;
	mix-blend-mode: lighten;
	opacity: 0.5;
}

.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__tag {
	padding: 10px 20px; /* Replaced with the values of $spacer-xs and $spacer-s */
	border: 1px solid currentColor;
	border-radius: 2em;
	position: relative;
	z-index: 1;
	/* Additional styles are commented out */
}

.card__title {
	font-size: 2.5rem;
}

.card__text {
	font-size: 1.25rem;
}

.card--reverse {
	flex-direction: column-reverse;

	.card__bottom {
		margin-top: 0;
		margin-bottom: -35px; /* Replaced with the value of $spacer-m */
	}

	.card__top {
		position: relative;
		padding: 70px 35px 35px 35px; /* Replaced with the values of 2*$spacer-m and $spacer-m */
		align-items: flex-end;
	}
}

.card--primary {
	--accent: #ffbe76;
	--accentComplimentary: #706fd3;
}

.card--secondary {
	--accent: #63cdda;
	--accentComplimentary: #f5cd79;
}

.card--tertiary {
	--accent: #888df1;
	--accentComplimentary: #ff9ff3;
}
